@model List<Spec>

<h1>Specs</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nama</th>
                <th>Spesies</th>
                <th>Klasifikasi</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var spec in Model)
            {
                <tr>
                    <td>@spec.Id</td>
                    <td>@spec.Nama</td>
                    <td>@spec.Spesies</td>
                    <td>@spec.Klasifikasi</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@spec.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@spec.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
